<div class="col-12 pt-4">

    <section class="col-12 pb-4">
        <img src="/img/javascript/1.jpg" class="img-fluid">
    </section>

    <section class="pb-3">
        <p> Javascript sin duda es considerado uno de los lenguajes mas importantes
            surgidos y <b>evolucionando cada vez más</b>. Es potente, versatil, y sin el,
            los sitios web serían completamente estaticos. Es fácil de aprender,
            muy útil actualmente y gracias a este lenguaje de programacion,
            es que <b>la web es lo que es hoy en dia</b>.
        </p>

        <p>Hablando un poco de su historia. Javascript es creado por Brendan Eich y
            fue nombrado como LiveScript, pero no duró mucho para luego ser
            nombrado como hasta actualmente. <b>Su principal objetivo</b> era hacer que los
            sitios web obtuvieran interactividad... dejar a un lado lo estatico,
            y hacer que los usuarios interactuaran mejor con los sitios web.
        </p>

        <p>Actualmente, Javascript es tan potente y puede ser usado tanto en el
            Backend (servidores) como en el Frontend (vista). Cabe destacar,
            que este lenguaje de programación esta presente en la <b>MAYORÍA DE LOS
            SITIOS WEB MODERNOS.</b>
        </p>
    </section>

    <section class="col-12 pb-4">
        <img src="/img/javascript/2.jpg" class="img-fluid">
    </section>

    <section class="pb-3">
        <h4 class="pb-1"><b>Principales caracteristicas</b></h4>

        <ol>
            <li><b>Es un lenguaje interpretado.</b></li>
            <li><b>Es multiplataforma. Esto se debe a que se puede usar tanto en Mac, Window y hasta Linux.</b></li>
            <li><b>Facil de aprender (en comparacion con otros lenguajes).</b></li>
            <li><b>Gran demanda laboral, debido a que en la actualidad, los sitios
                los crean con el objetivo de satisfacer la navegacion de usuario,
                y esto no solo se logra con diseño, sino tambien con un buena
                interactividad con el mismo</b></li>
            <li><b>Programacion estructurada, eventos y orientado a objetos.</b></li>
        </ol>
    </section>

    <section class="pb-3">
        Cada vez más, Javacript contiene mas funcionalidades y se adapta perfectamente
        a lo que quieras. Existen frameworks muy famosos, como Vuejs, Angular, Expressjs, y entre
        otros muchos que permiten a los desarrolladores, crear aplicaciones web, sitios web
        y demas. ¿Que esperas para aprender sobre Javascript?
    </section>

    <section>
        <p>Se apoyó con esta informacion: <a href="https://devcode.la/blog/que-es-javascript" target="_blank"><i>https://devcode.la/blog/que-es-javascript</i> </a></p>
    </section>
</div> <!-- Informacion -->