<div class="col-12 pt-4">

    <section class="col-12 pb-4">
        <img src="/img/virus-informatico/1.jpg" class="img-fluid">
    </section>

    <section class="pb-3">
        <p>Los virus informaticos son codigos o software malicioso ejecutable, el
            cual afecta a tu computadora y <b>puede dañar archivos, borrarlos, infectarlos
            y hasta enviar o recibir datos</b> por la web sin que el usuario se de cuenta,
            con fines, como por ejemplo, de espionaje.</b>.
        </p>

        <p>Se les llama virus, porque no son tan diferentes a los virus
            que podemos contraer nosotros los humanos, principalmente porque
            pueden transmitirse de unos a otros, y igualmente, van dañando desde adentro y llega, por desgracia,
            <b>a puntos hasta irreversibles</b>, si no son tratados a tiempo.
        </p>

        <p>Por definicion, un virus informático es maligno. Enfatizando en el efecto
            negativo que contraen muchos, pueden: <b>robarte tus contraseñas, acceder
            a cuentas de crédito, acceder a tus redes sociales, y hasta a tu cuenta bancaria
            de manera online, eliminar archivos, ejecutar programas, llenar
            tu disco duro de archivos innecesarios, o por lo contrario, dejarlo 
            sin algun archivo.</b>
        </p>

        <p>Si, sin duda es alarmante lo que pueden hacer los virus informaticos. Y por
            ello, a las personas se les aconseja siempre, obtener e instalar
            un antivirus potente.
        </p>
    </section>

    <div class="alert alert-info">¿Que es un antivirus? pues es un programa que
        permite monitoriar a tu computadora desde lo mas profundo de la misma,
        en busca de virus. Los puede eliminar, y en muchos casos exponer
        cuales son los archivos o programas que no deberias tener en tu PC.
    </div>

    <section class="pb-3">
        <h4 class="pb-2"><b>¿Que más pueden hacer los virus informáticos?</b></h4>

        <p>Existen virus que se adjuntan en los archivos creados en programas
            que soportan macros (secuencias de órdenes que se pueden ejecutar simplemente al
            apretar una tecla). Se encuentran mayormente en los emails, a traves
            de documentos de Microsoft Word y hojas de cálculo de Excel. Tambien existen los que toman el mando sobre tu navegador web en ciertas funcionalidades del mismo.
            Pueden hacer lo siguiente: al ingresar una direccion, te envian a una direccion 
            diferente, y <b>desde allí te piden hacer click sobre un anuncio, registrarte o entre 
            otras cosas.</b>
        </p>

        <p>Estan los virus que se encuentra en los archivos ejecutables y los famosos Scripting, 
            el cual cambiaa el código a su conveniencia de un sitio web, para mostrar enlaces o videos
            que luego pueden permitir <b>instalar programas infectados en donde
            se encuentre el usuario (computadora, tablet, etc)...</b>
        </p>

        <p>Y la verdad, es que existen muchos otros virus informáticos que puede afectar
            a tu ordenador. <b>Siempre obten un antivirus que sea famoso y poderoso el cual
            se encuentre en el mercado.</b>
        </p>
    </section>

    <section class="col-12 pb-4">
        <img src="/img/virus-informatico/2.jpg" class="img-fluid">
    </section>
</div> <!-- Informacion -->