<div class="col-12 pt-4">

    <section class="col-12 pb-4">
        <img src="/img/web/1.jpg" class="img-fluid">
    </section>

    <section class="pb-3">
        <p>Un documento electronico, con texto, imagenes, enlaces, videos... eso es la web.
            El formato esta adaptado para ser insertado en la <b>World Wide Web</b>, con
            el proposito de que los usuarios, independientemente de donde se encuentren,
            puedan verla.</b>.
        </p>

        <p>
            Hoy en día es muy comun hablar sobre la web, y visualizar sitios web
            desde telefonos inteligentes, tablets, ordenadores y demás dispositivos.
            <b>Puedes visualizar imagenes, visualizar videos, escuchar musica, ver
            las noticias, saber sobre algo en especifico</b> y es que si, en la web
            puedes encontrar de todo, y es que a diario se crean mas y mas sitios web.
            Los sitios son creados a traves de HTML o XHTML, el cual es un lenguaje 
            creado para poder crear paginas web.
        </p>

        <div class="alert alert-info">Una pagina web, tan solo es un documento en HTML o XHTML que contiene información.
            Sin embargo, un sitio web ya es un conjunto de páginas web.
        </div>

        <p><b>El desarrollo web</b>, considerado tambien como profeción, sus principales bases
            se formentan en la creacion de páginas web. No es tan solo la informacion, sino
            tambien el diseño y la interactividad que puede tener el usuario con la
            misma.
        </p>
    </section>

    <section class="col-12 pb-4">
        <img src="/img/web/2.jpg" class="img-fluid">
    </section>

    <section class="pb-3"></section>
        <p>Existen sitios web estáticos, donde la informacion está predeterminada. Pero tambien
            existen sitios web dinamicos, de los cuales se solicitan estos sitios
            a servidores o su informacion es dada justo al momento de solicitarla.
        </p>

        <p>Cada día son mas los negocios y empresas que crean sus sitios web
            con el <b>objetivo de tener un mayor radio de personas</b> para mostrar
            lo que ofrecen. Y es que la web esta ya tan arraigada a nosotros,
            que existen leyes, acuerdos y toda una serie de cuestiones que
            definen como usarla, que puede o no estar en la web, y entre muchas otras.
        </b>
        </p>
    </section>

    <section>
        <p>Se apoyó con esta informacion: <a href="https://sistemas.com/web.php" target="_blank"><i>https://sistemas.com/web.php</i> </a></p>
    </section>
</div> <!-- Informacion -->