<div class="row pb-2">
    <div class="col-12">
        <div class="breadcrumb bg-transparent" style="margin: 0; padding: 0">
            <ul class="breadcrumb-item">Estas en: &nbsp; <span class="text-primary">Inicio</span></ul>
            <ul class="breadcrumb-item text-primary">Informática</ul>
            <ul class="breadcrumb-item"> <%= publicacion %> </ul>
        </div>
    </div>
</div> <!-- Breadcrumb (Migas de Pan) -->