<footer class="p-4" style="background-color: rgb(228, 228, 228);">
    <div class="container">
        <div class="text-center">
            <a href="#">Politica de Privacidad</a> &nbsp; |
            <a href="#">Condiciones</a>&nbsp; |
            <a href="#">Contacto</a>&nbsp; |
            <a href="#">Biblioteca</a>&nbsp; |
            <a href="#">Avisos</a>&nbsp;
        </div> <!-- Enlaces -->

        <br>

        <div class="text-center">
            Sitio web estático de uso academico. Puedes ver el repositorio <a href="">aquí</a>.

            <br>

            <b>Noviembre - 2020</b>
        </div>
    </div>
</footer>