<div class="col-12 p-4">
    <hr>
</div> <!-- Separador -->

<div class="col-12 d-flex justify-content-center align-items-center flex-column">
    <div class="d-flex pb-2">
        <h5>¿Te gustó esta publicación? puedes compartirla vía:</h5>
    </div>

    <div>
        <img src="/img/redes-sociales/facebook.png" style="width: 45px;">
        <img src="/img/redes-sociales/twitter.png" style="width: 45px;">
        <img src="/img/redes-sociales/linkedin.png" style="width: 45px;">
        <img src="/img/redes-sociales/google-plus.png" style="width: 45px;">
    </div>
</div> <!-- Redes Sociales -->

<div class="col-12 p-4">
    <hr>
</div> <!-- Separador -->